* {
    font-family: "Roboto";
}
.home-background {
    margin: 0;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dndtpnlzv/image/upload/v1684007522/weather-app_iygofn.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.weather-card {
    height: 90vh;
    background-color: rgba(204, 214, 230, 0.6);
    border: none;
    border-radius: 16px;
    width: 60vw;
    padding: 24px;
    padding-top: 10px;
}
.home-heading {
    margin: 0;
    color: #bf2a4d;
    margin: 0;
}
.current-weather-section {
    display: flex;
    justify-content: space-between;
}
.location-container {
    display: flex;
    font-size: 20px;
}
.current-location-heading {
    font-weight: 600;
}
.current-location-name {
    margin-left: 12px;
    color: #058876;
    font-weight: 500;
}
.current-temp-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #2f2828;
    border-radius: 50%;
    background-color: rgb(22, 157, 230);
    height: 150px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
}
.current-temp {
    margin: 0;
    margin-left: 10px;
    font-size: 68px;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 20px;
}
.degree {
    font-size: x-small;
}
.unit {
    font-size: 22px;
    display: inline-block;
    height: 68px;
    margin-left: 6px;
}
.weather-description {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-top: -16px;
    width: 60px;
    text-align: center;
}
.temp-range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin: 0;
    padding: 0;
}
.max-min-temp {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

/**current weather right side**/

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 25px;
}
.weather-heading {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    color: #058876;
}
.time {
    font-size: 18px;
    color: rgb(66, 65, 68);
    margin: 0;
    margin-top: 5px;
}
.description {
    font-size: 18px;
    color: rgb(66, 65, 68);
    margin: 0;
    margin-top: 5px;
}
.humidity {
    font-size: 18px;
    color: rgb(66, 65, 68);
    margin: 0;
    margin-top: 5px;
}

.line {
    color: grey;
    border-style: solid;
}

/** favorite locations **/
.favorite-locations-heading {
    font-size: medium;
    font-weight: 600;
    color: #bf2a4d;
    margin: 0;
}
.favorite-location-list {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    height: 40vh;
    margin: 5px;
}
.favorite-list-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    font-size: small;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.favorite-city-name {
    padding: 6px;
    margin: 0;
}